* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;

}

.box {
  position: fixed;
}

.swiper {
  width: 80%;
  height: fit-content;

}

.swiper-slide {
  width: 100%;
}

.explore {
  width: 200px;
  height: 45px;
  background-color: #eb3c25;
  color: #ccc;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 11px;
  margin: 20px;
  cursor: pointer;
}

.explore:hover {
  background-color: #f76855;
  transform: scale(1.1);

}

.font-img img {
  width: 90vh;
  margin-left: 50vw;
  margin-top:-55vh;
  opacity: 0.3;
  border-radius: 200px;
  transition: 1.5s;
  display:block;

}
.font-img img:hover{
  opacity: 1;
}

.material-symbols-outlined {
  width: 100px;
  font-weight: bolder;

}

.p {
  font-size: 20px;
  margin-top: 5%;
  margin-right: 30%;
  word-spacing: 5px;
  text-align: justify;
}

.input {
  padding: 10px;
  width: 200px;
  height: 40px;
  border: 4px solid #141412;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 18px;
  color: #000000;
  outline: none;
  transition: .5s;
  margin-left: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-left: 30vw;
  opacity: 0.8;
}


.box i {
  position: absolute;
  top: 74px;
  right: 10px;
  transform: translate(-50%, -50%);
  font-size: 26px;
  color: #000000;
  transition: .5s;
}

.input:hover {
  border-color: rgb(59, 59, 63);
  width: 280px;
  border-start-start-radius: 5px;
  border-bottom-left-radius: 10px;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  animation: fadeIn 1.5s ease-in-out forwards
}

.all2 {
  width: 100%;
  min-width: 400px;
  padding: 5%;
  background: linear-gradient(rgba(0, 8, 51, 0.9), rgba(0, 8, 51, 0.9), url(pexels-athena-2842457.jpg));
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search {
  width: 500px;
  max-width: 700px;
  background: rgba(32, 13, 13, 0.2);
  border-radius: 60px;
  padding: 10px 20px;
  backdrop-filter: blur(4px) saturate(180%);
}

.search input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  width: 300px;
  height: 0px;
  color: #4cbdbd;
}

::placeholder {
  color: rgb(0, 0, 0);
}

.search button img {
  width: 25px;
}

.search button {
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.material-symbols-outlined:hover {
  color: red;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;

}

nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  position: relative;

}

nav ul li::after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: rgb(119, 94, 85);
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;

}

nav ul li:hover::after {
  width: 100%;
  color: white;
}

nav {
  flex: 1;
  text-align: right;

}

nav ul {
  display: inline-block;
  list-style-type: none;

}

a {
  text-decoration: none;
  color: rgb(14, 8, 8);
}

.all {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;

}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;


}

.col-2 h1 {
  font-size: 40px;
  text-align: justify;
  line-height: 100px;
  margin: 25px 0;
  margin-left: -20px;
}
.div-image img{
  width: 90%;
  margin-top: 10%;
  transition: 0.2s;
  transition: 1s;
}
.div-image{
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.div-image img:hover{
  opacity: 0.7;
  transform: scale(.9);

}
.img-sec{
  background: linear-gradient(#141e30 ,#243b55);
  margin-top: 10%;

}
.img1{
  width: 70vh;
}
.img2{
  width:55vh;
}


.offer-h3,.admin-p{
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-top: 20vh;
}

/*------------------------------- buttom */
.news{
  background: linear-gradient(#E1DADA,#BDCAD9);
  margin-top: 10vh;
  margin-bottom: 10vh;
  width: 100%;
  display: flex;

} 
.news .bottom-form1 h4 {
  display: flex;
  margin-top:2.5%;
  justify-content: center;
  color:black;
  font-weight: bold;
}
.bottom-p{
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 10px;

}
.news input{
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 10px;
}
.bottom-all{
  display: flex;
  align-items: center;
  justify-content: center
  ;
}
.news button{
  width: 100px;
  height: 40px;
  background-color: #000000;
  color: white;
  font-weight: bold;
  margin-left:5%;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: .5s;
  cursor: pointer;

}
.news button:hover{
  background-color:#ffff;
  color: black;
}
.bottom-form2{
  display: flex;
  align-items: center;
  margin: 30px;
  justify-content: center;
}
.bottom-btn{
  margin-left: 10%;
}
span{
  color: rgb(158, 140, 40);
  font-weight: 500;
}
.bottom-all2{
   display:flex;
   margin-left: 25%;
}

/*------------------------ Log in , register , Admin---------------------------------*/
div .backimg {
  position: fixed;
  display: flex;
  height: 90%;
  margin-left: 5%;
  opacity: 0.3;
  transition: 1.5s;

  border: none;
}

div .backimg:hover {
  opacity: 0.5;
  visibility: visible;

}

.accont-page {
  padding: 50px 0;
  background-color: lightslategray;
}

.form-container {
  background: white;
  width: 320px;
  height: 400px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px 20px rgb(0, 0, 0, 0.1);
  overflow: hidden;
  margin-left: 50%;
  margin-top: 4%;

}

.form-container span {
  font-weight: bold;
  padding: 0 10px;
  color: #555;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.form-btn {
  display: inline-block;
}

.form-container form {
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
  transition: transform 1s;

}

form .username {
  width: 75%;
  height: 33px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
  transition: 0.5s;
  text-align: center;
}

form .username:hover {
  width: 90%;
  height: 33px;
  font-size: 20px;
}

form .btn {
  width: 100%;
  border-color: #000000;
  cursor: pointer;
  margin: 10px 0;
}

form .btn:focus {
  outline: none;
}

#loginForm {
  left: -300px;

}

#register {
  left: 0;
}

form a {
  font-size: 15px;


}

#Indicator {
  width: 100px;
  border: none;
  background: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
  transition: 1s;
}

form .submit {
  width: 200px;
  height: 35px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #b4b4b4;
  opacity: 0.9;
  transition: 0.5s;


}

form .submit:hover {
  background-color: black;
  opacity: 0.6;
  color: #ffff;
}

form .btn {
  width: 200px;
  height: 35px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #b4b4b4;
  opacity: 0.9;
  transition: 0.5s;

}

form .btn:hover {
  background-color: black;
  opacity: 0.8;
  color: #ffff;
  border-color: #ffff;
}

/*--------------------------- About Us Tab ------------------- */

.about{
  background-color: #BDCAD9;
}
.heading h1{
  color: #000000;
  font-size: 55px;
  text-align: center ;
  font-weight: bolder;
  margin-top: 35px;
}
.container2{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 65px auto;
}

.content{
  flex: 1;
  width: 600px;
  margin: 0px 25px;
  animation:abouUp 2s ease;
  text-align: justifyff;
}
.about-img{
  flex: 1;
  opacity: 0.8;
  width: 400px;
  margin: auto;
  animation: abouRight 2s ease;
  transition: 1s;
}
.about-img:hover{
  opacity: 0.4;
}
.about-img img{
  width: 500px;
  margin-left: 20%;
}
.content h2{
  font-size: 40px;
  height: auto;
  color:#333;
}
.content p{
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 40px;
  color: #000000;
  text-align: justify;
}
.content button{
  display: inline-block;
  background-color: #141e30;
  color: #fff;
  padding: 12px 24px;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
}
.content button:hover{
  background-color: #58629b;
  transform: scale(1.1);
}

@media  screen and (max-width:768) {
  .heading h1{
    font-size: 45px;
    margin: 30px;
  }
  .about{
    margin:0px;
  }
  .container{
    width: 100%;
    flex-direction: column;
    margin: 0px;
    padding: 0px 40px;

  }
  .content{
    width: 100%;
    margin: 35px 0px;
  }
  .content h2{
    font-size: 30px;
  }
  .contain p{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .content button{
    font-size: 16px;
    padding: 8px 16px;
  }

  .about-img{
    width: 100%;
  }
}

@keyframes abou-Up{
  0%{
    opacity: 0;
    transform: rotateY(-50px);
  }
  100%{
    opacity: 1;
    transform: rotateY(0px);
  }
  
}
@keyframes abou-Right{
  0%{
    opacity: 0;
    transform: rotateX(-50px);
  }
  100%{
    opacity: 1;
    transform: rotateX(0px);
  }
  
}






